$syntax-background-color: #272822;
$syntax-comment-color: #75715e;
$syntax-error-color: #960050;
$syntax-error-background-color: #1e0010;
$syntax-keyword-color: #66d9ef;
$syntax-literal-color: #ae81ff;
$syntax-string-literal-color: #e6db74;
$syntax-color-light: #f8f8f2;
$syntax-operator-color: #f92672;
$syntax-name-color: #a6e22e;

.highlight {
    pre {
        background-color: $syntax-background-color;
    }

    .hll {
        background-color: $syntax-background-color;
    }

    .c {
        color: $syntax-comment-color;
    }

    .err {
        color: $syntax-error-color;
        background-color: $syntax-error-background-color;
    }

    .k {
        color: $syntax-keyword-color;
    }
    
    .l {
        color: $syntax-literal-color;
    }
    
    .n {
        color: $syntax-color-light;
    }

    .o {
        color: $syntax-operator-color;
    }

    .p {
        color: $syntax-color-light;
    }

    .cm {
        color: $syntax-comment-color;
    }

    .cp {
        color: $syntax-comment-color;
    }

    .c1 {
        color: $syntax-comment-color;
    }

    .cs {
        color: $syntax-comment-color;
    }

    .ge {
        font-style: italic
    }
    
    .gs {
        font-weight: bold
    }

    .kc {
        color: $syntax-keyword-color;
    }
    
    .kd {
        color: $syntax-keyword-color;
    }
    
    .kn {
        color: $syntax-operator-color;
    }
    
    .kp {
        color: $syntax-keyword-color;
    }
    
    .kr {
        color: $syntax-keyword-color;
    }
    
    .kt {
        color: $syntax-keyword-color;
    }
    
    .ld {
        color: $syntax-string-literal-color;
    }
    
    .m {
        color: $syntax-literal-color;
    }
    
    .s {
        color: $syntax-string-literal-color;
    }
    
    .na {
        color: $syntax-name-color;
    }
    
    .nb {
        color: $syntax-color-light;
    }
    
    .nc {
        color: $syntax-name-color;
    }
    
    .no {
        color: $syntax-keyword-color;
    }
    
    .nd {
        color: $syntax-name-color;
    }
    
    .ni {
        color: $syntax-color-light;
    }
    
    .ne {
        color: $syntax-name-color;
    }
    
    .nf {
        color: $syntax-name-color;
    }
    
    .nl {
        color: $syntax-color-light;
    }
    
    .nn {
        color: $syntax-color-light;
    }
    
    .nx {
        color: $syntax-name-color;
    }
    
    .py {
        color: $syntax-color-light;
    }
    
    .nt {
        color: $syntax-operator-color;
    }
    
    .nv {
        color: $syntax-color-light;
    }

    .ow {
        color: $syntax-operator-color;
    }
    
    .w {
        color: $syntax-color-light;
    }
    
    .mf {
        color: $syntax-literal-color;
    }
    
    .mh {
        color: $syntax-literal-color;
    }
    
    .mi {
        color: $syntax-literal-color;
    }
    
    .mo {
        color: $syntax-literal-color;
    }
    
    .sb {
        color: $syntax-string-literal-color;
    }
    
    .sc {
        color: $syntax-string-literal-color;
    }
    
    .sd {
        color: $syntax-string-literal-color;
    }
    
    .s2 {
        color: $syntax-string-literal-color;
    }
    
    .se {
        color: $syntax-literal-color;
    }
    
    .sh {
        color: $syntax-string-literal-color;
    }
    
    .si {
        color: $syntax-string-literal-color;
    }
    
    .sx {
        color: $syntax-string-literal-color;
    }
    
    .sr {
        color: $syntax-string-literal-color;
    }
    
    .s1 {
        color: $syntax-string-literal-color;
    }
    
    .ss {
        color: $syntax-string-literal-color;
    }
    
    .bp {
        color: $syntax-color-light;
    }
    
    .vc {
        color: $syntax-color-light;
    }
    
    .vg {
        color: $syntax-color-light;
    }
    
    .vi {
        color: $syntax-color-light;
    }
    
    .il {
        color: $syntax-literal-color;
    }

    .gu {
        color: $syntax-comment-color;
    }
    
    .gd {
        color: $syntax-operator-color;
    }
    
    .gi {
        color: $syntax-name-color;
    }
}
